hr {
    margin-top: 0.1em;
}

.bg-custom {
    --bs-bg-opacity: 1;
    background-color: #f6f6f6
}

.bg-card {
    position: absolute;
    z-index: -1;
    height: auto;
    width: 100%;
}

.circleImg {
    height: 5em;
    width: 5em;
    border: 5px solid white;
    border-radius: 50%;
}

.rounded-10 {
    border-radius: 1rem !important;
}

#all-card {
    font-size: 0.8rem
}

#all-card span {
    font-size: 1.5rem;
    font-weight: bold;
}

.task-list-flag {
    width: 0.5rem;
    height: 1rem;
    background-color: #95db25;
}

.task-list-font {
    color: #b1b1b1;
}

.nav-item img {
    height: 2em;
    width: 2em;
}

.nav-item a {
    font-size: 0.9em;
    color: #b1b1b1;
    padding: 0.5rem 1.2rem;
}

.loading_bg {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1055;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.loading {
    width: 10em;
    height: 10em;
    z-index: 20000;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -5em;
    margin-top: -5em
}

